# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local
*.spec
package-lock.json

# Build outputs
/binaries/*/build
/installer/build

# Configuration and environment
.env
electron/config.prod.js
build/icon.ico

# OS and editor files
*.bat
.DS_Store

# Project-specific
.million
/src/translations/json
exports.txt
/server

# Debian-specific files
/binaries/*/src/debian

# Specific files to ignore
binaries/AscendaraNotificationHelper/src/debian/AscendaraNotificationHelper.py
yarn.lock
